 #ControllerPieChart {
halign:center;
height:fill;
layout:vbox;
width:fill;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F5F5F5;
width:fill;
}
 #navigatorbar0 {
}
 #backbtn {
padding-left:20;
halign:left;
height:44;
pressed-image:btn_back_touch;
width:88;
background-image:btn_back;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #panel0 {
margin-right:22;
halign:center;
height:fill;
layout:vbox;
background:#ffffff;
width:fill;
margin-left:22;
margin-top:8;
}
 #chartview0 {
height:280;
width:fill;
}
