 #ControllerGroupListView {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
width:fill;
background:#F5F5F5;
layout:vbox;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
}
 #backbtn {
padding-left:20;
halign:left;
height:44;
pressed-image:btn_back_touch;
width:88;
background-image:btn_back;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #panel0 {
margin-right:22;
halign:center;
height:fill;
layout:vbox;
width:fill;
margin-left:22;
margin-top:8;
valign:TOP;
}
 #listviewdefine0 {
halign:center;
list-type:group;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel1 {
border-bottom-width:1;
halign:LEFT;
height:30;
layout:hbox;
background:#cecece;
width:fill;
valign:center;
border-bottom-color:#C7C7C7;
}
 #label1 {
halign:center;
height:wrap;
widthWrap:34.0;
color:#000000;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel2 {
border-bottom-width:1;
halign:LEFT;
height:60.0;
layout:hbox;
background:#FFFFFF;
width:fill;
valign:center;
border-bottom-color:#C7C7C7;
}
 #label2 {
halign:center;
height:wrap;
widthWrap:34.0;
color:#000000;
heightWrap:20.0;
font-size:14;
width:wrap;
margin-left:15;
font-family:default;
valign:center;
}
