 #ControllerSlideview {
halign:center;
height:fill;
width:fill;
layout:vbox;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F5F5F5;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
}
 #backbtn {
padding-left:20;
halign:left;
height:44;
pressed-image:btn_back_touch;
width:88;
background-image:btn_back;
}
 #titlelabel {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #openrightimage {
height:44;
width:44;
}
 #slidingviewdefine0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel_main {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel18 {
halign:LEFT;
height:20;
layout:hbox;
background:#eaeaea;
width:fill;
valign:center;
}
 #listviewdefine0 {
halign:center;
height:0;
weight:1;
background:#ffffff;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
halign:center;
height:60.0;
background:#FFFFFF;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel1 {
halign:LEFT;
height:0;
weight:1;
layout:hbox;
background:#FFFFFF;
width:fill;
valign:center;
}
 #image0 {
height:44;
width:44;
}
 #panel3 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #label1 {
halign:left;
height:32;
color:#000000;
font-size:16;
width:fill;
font-family:default;
valign:center;
}
 #label2 {
halign:left;
height:wrap;
color:#808080;
heightWrap:19.0;
font-size:13;
width:fill;
font-family:default;
valign:center;
}
 #image1 {
margin-right:15;
height:12;
width:8;
}
 #panel2 {
halign:LEFT;
height:1;
layout:hbox;
background:#c7c7c7;
width:fill;
margin-left:15;
valign:center;
}
 #panel19 {
halign:LEFT;
height:1;
layout:hbox;
background:#c0c0c0;
width:fill;
valign:center;
}
 #tabbar1 {
halign:LEFT;
height:49;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #tabbaritem4 {
width:0;
icon-background-image:tab_fav;
icon-pressed-image:tab_fav_touch;
}
 #tabbaritem5 {
width:0;
icon-background-image:tab_contact;
icon-pressed-image:tab_contact_touch;
}
 #tabbaritem6 {
width:0;
icon-background-image:tab_message;
icon-pressed-image:tab_message_touch;
}
 #tabbaritem7 {
width:0;
icon-background-image:tab_setting;
icon-pressed-image:tab_setting_touch;
}
 #panel_right {
halign:right;
height:fill;
layout:vbox;
background:#d0d0d0;
width:fill;
valign:TOP;
}
 #panel4 {
halign:center;
height:fill;
layout:vbox;
background:#d0d0d0;
width:280;
valign:TOP;
}
 #panel5 {
halign:center;
height:74;
border-radius:37;
layout:vbox;
width:74;
margin-top:44;
valign:TOP;
background-image:udn_default_avatar.png;
}
 #label3 {
halign:center;
height:wrap;
widthWrap:60.0;
color:#000000;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
margin-top:10;
valign:center;
}
 #panel7 {
halign:LEFT;
height:1;
layout:hbox;
background:#c0c0c0;
width:fill;
margin-top:20;
valign:center;
}
 #panel8 {
halign:LEFT;
height:60;
layout:hbox;
background:#d0d0d0;
width:fill;
margin-left:8;
valign:center;
}
 #image3 {
height:25;
width:25;
}
 #label4 {
halign:center;
height:wrap;
widthWrap:72.0;
color:#000000;
heightWrap:25.0;
font-size:17;
width:wrap;
margin-left:8;
font-family:default;
valign:center;
}
 #panel9 {
halign:LEFT;
height:1;
background:#c0c0c0;
layout:hbox;
width:fill;
valign:center;
}
 #panel10 {
halign:LEFT;
height:60.0;
layout:hbox;
background:#d0d0d0;
width:fill;
margin-left:8;
valign:center;
}
 #image4 {
height:25;
width:25;
}
 #label5 {
halign:center;
height:wrap;
widthWrap:72.0;
color:#000000;
heightWrap:25.0;
font-size:17;
width:wrap;
margin-left:8;
font-family:default;
valign:center;
}
 #panel11 {
halign:LEFT;
height:1;
background:#c0c0c0;
layout:hbox;
width:fill;
valign:center;
}
 #panel12 {
halign:LEFT;
height:60.0;
layout:hbox;
background:#d0d0d0;
width:fill;
margin-left:8;
valign:center;
}
 #image5 {
height:25;
width:25;
}
 #label6 {
halign:center;
height:wrap;
widthWrap:72.0;
color:#000000;
heightWrap:25.0;
font-size:17;
width:wrap;
margin-left:8;
font-family:default;
valign:center;
}
 #panel13 {
halign:LEFT;
height:1;
background:#c0c0c0;
layout:hbox;
width:fill;
valign:center;
}
 #panel14 {
halign:LEFT;
height:60.0;
layout:hbox;
background:#d0d0d0;
width:fill;
margin-left:8;
valign:center;
}
 #image6 {
height:25;
width:25;
}
 #label7 {
halign:center;
height:wrap;
widthWrap:36.0;
color:#000000;
heightWrap:25.0;
font-size:17;
width:wrap;
margin-left:8;
font-family:default;
valign:center;
}
 #panel15 {
halign:LEFT;
height:1;
background:#c0c0c0;
layout:hbox;
width:fill;
valign:center;
}
 #panel16 {
halign:LEFT;
height:0;
weight:1;
layout:hbox;
width:120.0;
valign:center;
}
 #panel17 {
halign:LEFT;
height:25;
layout:hbox;
width:fill;
margin-left:10;
margin-bottom:10;
valign:center;
}
 #image7 {
height:20;
width:20;
}
 #label8 {
halign:center;
height:wrap;
widthWrap:32.0;
color:#000000;
heightWrap:22.0;
font-size:15;
width:wrap;
font-family:default;
valign:center;
}
 #label9 {
margin-right:10;
halign:right;
height:wrap;
weight:1;
color:#000000;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #panel_left {
halign:left;
height:fill;
layout:vbox;
width:fill;
gradient-orientation:LEFT_RIGHT;
valign:TOP;
gradient:#ff80ff,#ff8080;
}
 #label0 {
halign:center;
height:fill;
color:#ffffff;
font-size:35;
width:280;
font-family:default;
valign:center;
}
