 #EgAnimationView {
halign:center;
height:fill;
width:fill;
layout:vbox;
}
 #viewPage0 {
halign:center;
height:fill;
width:fill;
background:#F5F5F5;
layout:vbox;
}
 #navigatorbar0 {
}
 #button0 {
padding-left:20;
hAlign:left;
height:44;
pressed-image:btn_back_touch;
width:88;
background-image:btn_back;
}
 #label0 {
hAlign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
}
 #panel0 {
margin-right:22;
halign:center;
height:fill;
layout:relative;
background:#ffffff;
width:fill;
margin-left:22;
margin-top:8;
}
 #panel1 {
height:60.0;
layout:hbox;
width:fill;
left:0.0;
valign:center;
top:0.0;
}
 #button1 {
height:44;
weight:1;
width:0;
}
 #button2 {
height:44;
weight:1;
width:0;
}
 #orange {
height:44;
layout:hbox;
width:44;
background:#f8a878;
left:10.0;
valign:center;
top:60.0;
}
 #blue {
height:44;
layout:hbox;
width:44;
background:#46a3ff;
left:110.0;
valign:center;
top:180.0;
}
