 #ExampleView {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F5F5F5;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
padding-right:0;
padding-left:0;
halign:LEFT;
}
 #listpanel {
padding-left:8;
halign:LEFT;
height:fill;
layout:hbox;
width:96;
valign:center;
}
 #image0 {
height:44;
width:88;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #panel1 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
margin-right:5;
halign:LEFT;
height:80;
layout:hbox;
width:fill;
margin-left:5;
margin-top:8;
valign:center;
}
 #mappanel {
margin-right:7;
halign:LEFT;
height:fill;
weight:1;
layout:hbox;
background:#ff6060;
width:0;
margin-left:7;
margin-bottom:5;
valign:center;
}
 #label1 {
halign:center;
height:wrap;
color:#ffffff;
heightWrap:25.0;
font-size:17;
width:fill;
font-family:default;
valign:center;
}
 #touchpanel {
margin-right:7;
halign:LEFT;
height:fill;
weight:1;
layout:hbox;
background:#00aa2b;
width:0;
margin-left:7;
margin-bottom:5;
valign:center;
}
 #label2 {
halign:center;
height:wrap;
color:#ffffff;
heightWrap:25.0;
font-size:17;
width:fill;
font-family:default;
valign:center;
}
 #panel6 {
margin-right:5;
halign:LEFT;
height:160;
layout:hbox;
width:fill;
margin-left:5;
margin-bottom:5;
valign:center;
}
 #calpanel {
margin-right:7;
halign:LEFT;
height:fill;
weight:1;
background:#dd6f00;
layout:hbox;
width:0;
margin-left:7;
margin-top:5;
valign:center;
}
 #label3 {
halign:center;
height:wrap;
color:#ffffff;
heightWrap:25.0;
font-size:17;
width:fill;
font-family:default;
valign:center;
}
 #panel2 {
margin-right:7;
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
margin-left:7;
margin-top:5;
valign:TOP;
}
 #gamepanel {
halign:LEFT;
height:0;
weight:1;
background:#3c9dff;
layout:hbox;
width:fill;
margin-bottom:5;
valign:center;
}
 #label4 {
halign:center;
height:wrap;
color:#ffffff;
heightWrap:25.0;
font-size:17;
width:fill;
font-family:default;
valign:center;
}
 #timerpanel {
halign:LEFT;
height:0;
weight:1;
layout:hbox;
background:#9c75f9;
width:fill;
margin-top:5;
valign:center;
}
 #label5 {
halign:center;
height:20;
color:#ffffff;
font-size:17;
width:fill;
font-family:default;
valign:center;
}
 #panel3 {
margin-right:5;
halign:LEFT;
height:80;
layout:hbox;
width:fill;
margin-left:5;
margin-top:5;
valign:center;
}
 #animationpanel {
margin-right:7;
halign:LEFT;
height:fill;
weight:1;
layout:hbox;
background:#ff6060;
width:0;
margin-left:7;
margin-bottom:5;
valign:center;
pressed-color:#0080ff;
}
 #label7 {
halign:center;
height:wrap;
color:#ffffff;
heightWrap:25.0;
font-size:17;
width:fill;
font-family:default;
valign:center;
}
 #panel4 {
margin-right:7;
halign:LEFT;
height:fill;
weight:1;
layout:hbox;
background:#00aa2b;
width:0;
margin-left:7;
margin-bottom:5;
valign:center;
}
 #label6 {
halign:center;
height:wrap;
color:#ffffff;
heightWrap:25.0;
font-size:17;
width:fill;
font-family:default;
valign:center;
}
