 #PlayRecoder {
halign:center;
height:fill;
layout:vbox;
width:fill;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#F5F5F5;
width:fill;
}
 #navigatorbar0 {
}
 #btn_back {
height:44;
width:88;
}
 #label0 {
hAlign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
}
 #panel0 {
halign:center;
height:0;
weight:1;
layout:vbox;
background:#f0f0f0;
width:fill;
}
 #recorder0 {
height:50.0;
width:300;
}
 #audio0 {
height:44;
width:320;
display:none;
}
 #panel1 {
margin-right:22;
height:60.0;
layout:hbox;
width:fill;
margin-left:22;
valign:center;
}
 #button0 {
margin-right:5;
height:44;
weight:1;
color:#ffffff;
background:#42a0ff;
width:0;
}
 #button1 {
height:44;
weight:1;
color:#ffffff;
background:#42a0ff;
width:0;
margin-left:5;
}
