 #UMDeviceTest {
halign:center;
height:fill;
layout:vbox;
width:fill;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
background:#F5F5F5;
}
 #navigatorbar0 {
}
 #button0 {
padding-left:20;
halign:left;
height:44;
pressed-image:btn_back_touch;
width:88;
background-image:btn_back;
}
 #label0 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #panel0 {
margin-right:22;
halign:center;
height:fill;
background:#ffffff;
layout:vbox;
width:fill;
margin-left:22;
margin-top:8;
}
 #panel1 {
halign:center;
height:fill;
background:#ffffff;
layout:vbox;
width:fill;
}
 #panel2 {
height:55;
layout:hbox;
width:fill;
margin-left:15;
valign:center;
}
 #label1 {
halign:left;
height:fill;
weight:1;
color:#000000;
font-size:17;
width:0;
font-family:default;
valign:center;
}
 #image0 {
margin-right:15;
height:12;
width:12;
}
 #panel3 {
height:1;
layout:hbox;
background:#808080;
width:fill;
margin-left:15;
valign:center;
}
 #panel4 {
height:55;
layout:hbox;
width:fill;
margin-left:15;
valign:center;
}
 #label2 {
halign:left;
height:fill;
weight:1;
color:#000000;
font-size:17;
width:0;
font-family:default;
valign:center;
}
 #image1 {
margin-right:15;
height:12;
width:12;
}
 #panel5 {
height:1;
background:#808080;
layout:hbox;
width:fill;
margin-left:15;
valign:center;
}
 #panel6 {
height:55;
layout:hbox;
width:fill;
margin-left:15;
valign:center;
}
 #label3 {
halign:left;
height:fill;
weight:1;
color:#000000;
font-size:17;
width:0;
font-family:default;
valign:center;
}
 #image2 {
margin-right:15;
height:12;
width:12;
}
 #panel7 {
height:1;
background:#808080;
layout:hbox;
width:fill;
margin-left:15;
valign:center;
}
